{% extends "base.html" %}
{% block title %}home{% endblock %}
{% block content %}
<article>
    <header>
        <h1>Welcome to <em>rob's supreme</em> password manager.</h1>
        <aside>It’s fucking perfect.</aside>
    </header>
    <h2>Seriously, what the fuck else do you want?</h2>
    <p>You keep forgetting. Let me describe the perfect-ass password manager:</p>
    <ul>
        <li>Shit’s lightweight and loads fast.</li>
        <li>Fits on all your shitty screens.</li>
        <li>Shit works on all devices with only your secret &amp; password.</li>
        <li>Looks the same in all your shitty browsers.</li>
        <li>Accessible to every asshole that visits your site.</li>
    </ul>
    <p>You do it every day. You take <a title="TempleOS" href="https://templeos.org/">a fucking masterpiece</a> and incrementally <a href="https://www.dashlane.com" title="Trash">ruin it</a> for the sake of design. Let me remind you: design is <dfn title="design">to plan and make something for a specific purpose</dfn>.
        The most basic purpose of a password manager is to manage passwords. Yet you keep doing shit that gets in the way.</p>
    <h2 id="grey-text">Create vault now</h2>
    <p>Click <a title="New vault" href="/new">here</a> to create a new vault that stores your passwords securely.</p>
    <h2 id="grey-text">Open vault now</h2>
    <p>Click <a title="Open vault" href="/vault">here</a> to open &amp; modify an existing vault.</p>
{% endblock %}